body {
  padding: 0;
  margin: 0;
  background: #0D0D30;
    font-family: "Avenir", serif;
  font-style: normal;
  font-weight: 40;
  font-variant-ligatures: normal;
  font-size: 1rem;
  letter-spacing: 1px;
   color: white;
}

p {
  width: 890px;
  margin: 0 auto;
  
    font-family: "Avenir", serif;
  font-style: normal;
  font-weight: 90;
  font-variant-ligatures: normal;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
    color: white;
}

p1 {
  width: 890px;
  margin: 0 auto;
  
    font-family: "Avenir Next", serif;
  font-style: normal;
  font-weight: 70;
  font-variant-ligatures: normal;
  font-size: 1rem;
  letter-spacing: 0.5px;
    text-align: right;
    color: white;
}

p2 {
  width: 2000px;
  margin: 0 auto;
  
    font-family: "Avenir Next", serif;
  font-style: italic;
  font-weight: 100;
  font-variant-ligatures: normal;
  font-size: 4rem;
  letter-spacing: 0.5px;
    text-align: right;
    color: #b1c9a3;
}

/* navigation menu */

ul.nav li {
background-color: #fff;
transition: all 0.4s ease-in-out;
flex-grow: 1;
flex-shrink: 1;
flex-basis: auto;
display: block;
margin: 0 0.25em 0.25em 0;
}

ul.nav {
margin: 0;
padding: 0;
line-height: 50px;
width: 100%;
font-size: 2em;
flex-wrap: nowrap;
text-transform: none;
display: flex;
transition: all 0.3s;
justify-content: stretch;
}

ul.nav {
text-align: left;
}
    
ul.nav li a {
display: block;
padding-left: 10px;
padding-right: 10px;
border-radius: 0px;
}

ul.nav li a {
text-decoration: none;
transition: all 0.1s ease-in-out;
}

ul.nav li a {
color: #000;
}
ul.nav li a {
background-color: transparent;
}
ul.nav li a {
cursor: pointer;
}

#email a {
    
color:#fff;
font-size: 1.5rem;
    
}

.trigger-archive-manifesto ul.nav li.HaiderMukhit,
.trigger-single-manifesto ul.nav li.HaiderMukhit {
   flex-grow: 2;
   background: rgb(255,0,4); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,255,4,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,4,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,4,1) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0004', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.trigger-archive-texts-interviews li.skills,
.trigger-single-texts-interviews li.skills {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff0004+0,ffffff+100 */
background: rgb(255,0,4); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,0,4,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,0,4,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,0,4,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0004', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}



ul.nav li {
  background-color: #FFF;
  transition: all 0.4s ease-in-out;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: block;
margin: 0 0.25em 0.25em 0;
}

ul.nav li:hover {
  flex-grow: 2;
}

ul.nav li:last-child {
  margin-right: 0;
}


.center-navigation {
 	width: 100%;
 }

.trigger-archive-manifesto ul.nav,
.trigger-single-manifesto ul.nav {
 grid-template-columns: 1fr 18fr 16fr 10fr;
}
.trigger-archive-texts-interviews ul.nav li.skills,
.trigger-single-texts-interviews ul.nav li.skills{
flex-grow: 2;
}
.trigger-archive-books ul.nav li.contact,
.trigger-single-books ul.nav li.contact{
flex-grow: 2;
background: rgb(255,0,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,0,255,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,0,255,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,0,255,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0004', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

/* hi there haider animation */

.marquee4 {
 text-align:center;
 font-size:20px;
 color:#806596;
 margin-left:0%;
 margin-right:0%;
 border-radius:4px;
 padding:10px;
  height: 60px;
  overflow:hidden;
}

/* we reclaim our proud artwork section */

div.background {
    background-color:white;
}

/* an LGBTI activist animation */

.glitch {
  color: rgb(223, 191, 191);
  position: relative;
  font-size: 5vw;
  // margin: 70px 200px;
  animation: glitch 5s 5s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  background: transparent;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
background: transparent;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(9deg) skewX(40deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes glitch-2 {
  1%{
    transform: rotateX(10deg) skewX(30deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 1%);
  }
}

.glow {
  @extend .glitch;
  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}
