html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
}
body {
  background: #0D0D30;
  background: linear-gradient(rgba(13,13,48,1) 10%, rgba(37,37,69,0.9248074229691877) 39%, rgba(225,250,255,0.9136029411764706) 100%);
    font-family: "Avenir";
  font-style: normal;
  font-weight: 40;
  font-variant-ligatures: normal;
  font-size: 1rem
  letter-spacing: 1px;
   color: white;
}

header,
main,
menu,
nav {
    display: block;
}
button {
    color: inherit;
	font: inherit;
	margin: 0;
}

.mob_only {
    
    display:none;
}

.dt_only {
	display: block;
}

.screen-reader-text {
  display: none !important;
}

#xf_nav_menu {
  position: fixed;
  bottom: 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  left: 1em;
  z-index: 99;
}
#xf_nav_menu li {
font-size: 1.5em;
margin-right: 0.5em;
background-color: #FFF;
padding: 10px;
}

.close--label {
  height: 68px;
    width: 50px;
    background-size: 40px;
    padding: 10px 10px 10px 50px !important;
  background-image: url(images/close_menu_icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

p {
  width: 890px;
  margin: 0 auto;
  
    font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: 90;
  font-variant-ligatures: normal;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
    color: white;
}

p1 {
  width: 890px;
  margin: 0 auto;
  
    font-family: "Avenir Next", sans-serif;
  font-style: normal;
  font-weight: 70;
  font-variant-ligatures: normal;
  font-size: 1rem;
  letter-spacing: 0.5px;
    text-align: right;
    color: white;
}

p2 {
  width: 2000px;
  margin: 0 auto;
  
    font-family: "Avenir Next", serif;
  font-style: italic;
  font-weight: 100;
  font-variant-ligatures: normal;
  font-size: 4rem;
  letter-spacing: 0.5px;
    text-align: right;
    color: #b1c9a3;
}

/* navigation menu */

ul.nav li {
background-color: #fff;
transition: all 0.4s ease-in-out;
flex-grow: 1;
flex-shrink: 1;
flex-basis: auto;
display: block;
margin: 0 0.25em 0.25em 0;
}

ul.nav {
margin: 0;
padding: 0;
line-height: 50px;
width: 100%;
font-size: 2em;
flex-wrap: nowrap;
text-transform: none;
display: flex;
transition: all 0.3s;
justify-content: stretch;
}

ul.nav {
text-align: left;
}
    
ul.nav li a {
display: block;
padding-left: 10px;
padding-right: 10px;
border-radius: 0px;
}

ul.nav li a {
text-decoration: none;
transition: all 0.1s ease-in-out;
}

ul.nav li a {
color: #000;
}
ul.nav li a {
background-color: transparent;
}
ul.nav li a {
cursor: pointer;
}

#email a {
    
color:#fff;
font-size: 1.5rem;
    
}

.trigger-archive-manifesto ul.nav li.HaiderMukhit,
.trigger-single-manifesto ul.nav li.HaiderMukhit {
   flex-grow: 2;
   background: rgb(255,0,4); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,255,4,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,4,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,4,1) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0004', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.trigger-archive-texts-interviews li.skills,
.trigger-single-texts-interviews li.skills {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff0004+0,ffffff+100 */
background: rgb(255,0,4); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,0,4,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,0,4,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,0,4,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0004', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}



ul.nav li {
  background-color: #FFF;
  transition: all 0.4s ease-in-out;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: block;
margin: 0 0.25em 0.25em 0;
}

ul.nav li:hover {
  flex-grow: 2;
}

ul.nav li:last-child {
  margin-right: 0;
}

.view-toggle ul li {
	display: inline-block;
	width: 26px;
	transition: all 0.2s ease-in-out;
	opacity: 0.4;
}
.view-toggle ul li:hover {
	cursor: pointer;
}
.view-toggle ul li.is-active {
	opacity: 1;
}

ul.nav li.xf_menu {
  display: none;
}
.trigger-single-manifesto ul.nav li.xf_menu {
  display: block;
  flex-grow: 0;
}
.trigger-single-manifesto ul.nav li.xf_menu .menu_trigger .close--label,
.trigger-single-manifesto ul.nav li.xf_menu .menu_trigger.is-active .menu--label {
  display: none;
}
.trigger-single-manifesto ul.nav li.xf_menu .menu_trigger.is-active .close--label {
  display: block;
}
.trigger-single-manifesto ul.nav li.HaiderMukhit,
.trigger-single-manifesto ul.nav li.skills,
.trigger-single-manifesto ul.nav li.contacts {
  height: 0;
  overflow: hidden;
}
.trigger-single-manifesto .site-header {
  height: 78px;
}
.trigger-single-manifesto .site-header.is-active {
  height: 156px;
}
.trigger-single-manifesto .site-header.is-active ul.nav li.HaiderMukhit,
.trigger-single-manifesto .site-header.is-active ul.nav li.skills, 
.trigger-single-manifesto .site-header.is-active ul.nav li.contacts {
  height: auto;
}
.center-navigation {
 	width: 100%;
 }

.trigger-archive-manifesto ul.nav,
.trigger-single-manifesto ul.nav {
 grid-template-columns: 1fr 18fr 16fr 10fr;
}
.trigger-archive-texts-interviews ul.nav li.skills,
.trigger-single-texts-interviews ul.nav li.skills{
flex-grow: 2;
}
.trigger-archive-books ul.nav li.contact,
.trigger-single-books ul.nav li.contact{
flex-grow: 2;
background: rgb(255,0,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,0,255,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,0,255,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,0,255,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0004', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.site-header {
	display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: calc(100% - 20px);
    height: 156px;
    top: 10px;
    z-index: 9;
    left: 10px;
    right: 10px;
    padding: 0em;

}


/* we reclaim our proud artwork section */

div.background {
    background-color:white;
}

/* an LGBTI activist animation */

.glitch {
  color: rgb(223, 191, 191);
  position: relative;
  font-size: 5vw;
  // margin: 70px 200px;
  animation: glitch 5s 5s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  background: transparent;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
background: transparent;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(9deg) skewX(40deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes glitch-2 {
  1%{
    transform: rotateX(10deg) skewX(30deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 1%);
  }
}

.glow {
  @extend .glitch;
  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}

.site-header {
	display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: calc(100% - 20px);
    height: 156px;
    top: 10px;
    z-index: 9;
    left: 10px;
    right: 10px;
    padding: 0em;

}




.hamburger {
  padding: 0px;
  display: block;
  cursor: pointer;
  position: relative;
  width: 70px;
  float: right;
    z-index: 9999;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: #FFF;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; 
    background-color: #000;
  }
  .hamburger:hover .hamburger-inner, .hamburger:hover .hamburger-inner::before, .hamburger:hover .hamburger-inner::after {
   background-color: #FFF; 
  }

.hamburger-box {
  width: 50px;
  height: 57px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 50px;
    height: 0.4em;
    background-color: #000;
    border-radius: 0px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -15px; }
  .hamburger-inner::after {
    bottom: -15px; }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/**
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

/**
 * 14.1 - >= 710px
 */
@media screen and (min-width: 47.01em) {
.dt_hide {
  display: none !important;
} 
/**
 * 14.1 - <= 600px
 */
@media screen and (max-width: 35.438em) {
#navigation {
  position: fixed;
  width: 100%;
  top: 79px;
  transition: 0.4s ease-in-out;
  left: -100%;
}
ul.nav li.xf_menu {
    display: none;
}
.trigger-single-manifesto ul.nav li li.xf_menu {
    display: none;
}
    
#xf_nav_menu {
  display: none;
}

.flex-column--wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
    
#navigation.is-active {
  left: 0;
}

ul.nav {
    line-height: 1;
    font-size: 1.5em;
    display: block;
    flex-wrap: wrap;
}	

    
ul.nav li a {
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.4em;
    padding-right: 10px;
    border-radius: 0px;
    padding-bottom: 10px;
}

    
h2.site--label {
  display: block;
    margin: 0 0 0 0.4em;
    background: #FFF;
    padding: 4px 10px 4px;
    width: calc(100% - 156px);
    float: left;
    line-height: 1;
}
h2.site--label a {
  font-size: 2.5em;
}

.dt_only {
  display: none;
}	
.mob_only {
  display: block;
	}
    
body, html {
    overflow-y: scroll !important;
}
.main-wrapper, .main-inner-wrapper {
    min-height: 100%;
    overflow: scroll;
    position: relative;
}
    
ul.nav li.contacts, ul.nav li.skills {
        display: none;
    }
    
/**
Phone Landscape
*/
@media screen and (min-width: 35.439em) and (max-width: 47.000em) {
.dt_hide {
  display: none !important;
} 

#xf_nav_menu {
  display: none;
}
ul.nav {
    font-size: 2.0em;
    }	
.scrolldiv {
overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh !important;
}